*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1rem = 10px */
}

.home{
display: flex;
justify-content: space-between;
background-color: rgb(155, 216, 218);
}
.divCard{
    margin: 0 auto;
}

@media (max-width: 768px){
.home{
    display: flex;
    flex-direction:column;
}

}