.sidebar{
    background-color: #D4F4FE;
    padding:10rem;
    height: 100%;
 
    
}
.test{
    text-align:center;
}
.titre{
    font-size:4rem;
    padding: 2rem;
}
.list{
    display:inline-block; 

}
li{
    padding: 1rem;
}
